.body {
    background-color: #ffffff;
    text-align: left;
    font-size: 20px;
    }

.delius-regular {
  font-family: "Delius";
  font-weight: 400;
  font-style: normal;
}

.header{
    background-color: #ffffff;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items:center;
    top: 0px;
    max-height: 70px;
    width: 100%;
    padding-top: 17px;
    padding-bottom: 6px;
}

.topnav-right{
    text-align: right;
    font-size: 18px;
    text-decoration: none;
}

.main {    
    background-color: #ffffff;
    display: grid;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    width: auto;
    height: 300px;
    flex: 70%; 
    padding: 1em;
    font-size: 20px;
   }

.section {
    width: auto;
    margin-bottom: 5rem;
    height: 30%;
}

.footer {
    background-color: #ffffff;
    width: auto;
    height: 100%;
    padding: 20px;
}